/* Grow Animation */
.grow {
  transition: transform .7s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

/* Pulse BG Animation (Skeleton) */
@keyframes pulse-bg {
    0% {
        background-color: #ddd;
    }
    50% {
        background-color: #d0d0d0;
    }
    100% {
        background-color: #ddd;
    }
}
