/* ***************** 
 * Tailwind Colors *
 * *****************
 * Neutral : 100, 900
 * Rose : 500
 *******************/

:root {
    --ghost: #f3f3f3;
    --platinum: #e5e4e2;
    --latte: #fff8e7;

    --dark-platinum: #797979;
    --dark: #212121;
    --darker: #111111;

    --piracy: #002147;
    --infrared: #ff2147;
    --radioactive: #00ff47;
    --sunflower: #ffbb33;
}

/* Dark */
.text-dark{
    color: var(--dark);
}
.bg-dark{
    background: var(--dark);
}

/* Darker */
.text-darker{
    color: var(--darker);
}
.bg-darker{
    background: var(--darker);
}

/* Ghost */
.text-ghost{
    color: var(--ghost);
}
.bg-ghost{
    background: var(--ghost);
}

/* Latte */
.text-latte{
    color: var(--latte);
}
.bg-latte{
    background: var(--latte);
}

/* Platinum */
.text-platinum {
    color: var(--platinum);
}
.bg-platinum {
    background: var(--platinum);
}

/* Dark Platinum */
.text-dark-platinum {
    color: var(--dark-platinum);
}
.bg-dark-platinum {
    background: var(--dark-platinum);
}

/* Piracy */
.text-piracy {
    color: var(--piracy);
}
.bg-piracy {
    background: var(--piracy);
}

/* Infrared */
.text-infrared {
    color: var(--infrared);
}
.bg-infrared {
    background: var(--infrared);
}

/* Radioactive */
.text-radioactive {
    color: var(--radioactive);
}
.bg-radioactive {
    background: var(--radioactive);
}

/* Sunflower */
.text-sunflower {
    color: var(--sunflower);
}
.bg-sunflower {
    background: var(--sunflower);
}
