/* ***************** 
 * Tailwind Colors *
 * *****************
 * Neutral :
 * Rose : 500
 *******************/


:root {
    --white: #ffffff;
    --ghost: #f3f3f3;
    --platinum: #e5e4e2;
    --latte: #fff8e7;

    --dark-platinum: #797979;
    --dark: #212121;
    --darker: #111111;
    --black: #000000;

    --infrared: #ff2147;
    --radioactive: #44ff88;
    --sunflower: #ffbb33;
}


/* Infrared */
.text-infrared {
    color: var(--infrared);
}
.bg-infrared {
    background: var(--infrared);
}


/* Radioactive */
.text-radioactive {
    color: var(--radioactive);
}
.bg-radioactive {
    color: var(--radioactive);
}


/* Sunflower */
